
h7{color: aliceblue;

    position: absolute;
    width: 100px;
    height: 50px;
    left: 1500px;
    top: 44.5px;
    z-index: 1000;

    font-size: 22px;
}
.cerca{

    position:absolute;
    top:40px;
    left: 1620px;
    z-index: 1001;
    align-items: center;
}

.carrello{

    position:absolute;
    top:40px;
    left: 1800px;
    z-index: 1001;
    
    
}

#immagine_occhio{
    position: absolute;
    width: 1000px;
    height: 500px;
    border-radius: 79px;

}

#nuvole{
    position: absolute;
    width: 372px;
    height: 714px;
    left: 1375px;
    top: 1100px;
    border-radius: 46px;

}
#tramonto{
    position: absolute;
width: 372px;
height: 719px;
left: 119px;
top: 1100px;

border-radius: 46px;
}
.rettangolo{
    position: absolute;
width: 391px;
height: 282px;
left: 558px;
top: 1300px;
z-index: -1;

background: linear-gradient(260.43deg, #D9D9D9 -3.7%, rgba(217, 217, 217, 0.206298) 93.91%, rgba(217, 217, 217, 0) 127.34%);
border-radius: 73px;
}
.fo{
    position: absolute;
width: 257px;
height: 135px;
left: 650px;
top: 1375px;

font-family: 'Libre Baskerville';
font-style: normal;
font-weight: 700;
font-size: 109px;
line-height: 135px;
display: flex;
letter-spacing: 0.72em;

color: #000000;
}
.rettangolo2{
    position: absolute;
width: 385px;
height: 292px;
left: 950px;
top: 1370px;
z-index: -1;
background: linear-gradient(279.2deg, rgba(217, 217, 217, 0.206298) -7.89%, #D9D9D9 106.9%, rgba(217, 217, 217, 0) 113.56%);
border-radius: 73px;
}

.to{
    position: absolute;
width: 271px;
height: 135px;
left: 1041px;
top: 1445px;



font-family: 'Libre Baskerville';
font-style: normal;
font-weight: 700;
font-size: 109px;
line-height: 135px;
display: flex;
letter-spacing: 0.72em;



color: #000000;
}

#s{

    position: absolute;
width: 789.34px;
height: 10px;
left: 549.77px;
top: 1150px;

background: #FFFFFF;
mix-blend-mode: lighten;
opacity: 0.7;
filter: blur(0.5px);
border-radius: 6px;

}

#s2{

    position: absolute;
    width: 569px;
    height: 458px;
    left: 650px;
    top: 1301px;
    
    background: rgba(255, 255, 255, 0.62);
    mix-blend-mode: screen;
    filter: blur(207px);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

#vettore{

    position: absolute;
    width: 1753px;
    height: 0px;
    left: 45px;
    top: 966px;
    
    border: 1px solid #FFFFFF;

    
}  

#sf{

position: absolute;
width: 400.94px;
height: 850.18px;
left: 104.51px;
top: 1039.97px;

background: linear-gradient(179.13deg, rgba(255, 255, 255, 0) 0.75%, rgba(255, 255, 255, 0.55) 33.58%, rgba(255, 255, 255, 0.24) 66.42%, rgba(0, 0, 0, 0) 99.26%);
transform: matrix(1, -0.01, -0.01, -1, 0, 0);

}

#sf2{

position: absolute;
width: 400.94px;
height: 850.18px;
left: 1359.8px;
top: 1036.11px;

background: linear-gradient(179.13deg, rgba(255, 255, 255, 0) 0.75%, rgba(255, 255, 255, 0.55) 33.58%, rgba(255, 255, 255, 0.24) 66.42%, rgba(0, 0, 0, 0) 99.26%);
transform: matrix(1, -0.01, -0.01, -1, 0, 0);

}

#lineasotto{

    position: absolute;
    width: 358px;
    height: 0.06px;
    left: 130px;
    top: 1851.09px;
    
    border: 3px solid #FFFFFF;
    transform: rotate(-180deg);

}

#lineasotto2{

    position: absolute;
    width: 198px;
    height: 0.62px;
    left: 204px;
    top: 1882.09px;
    
    border: 3px solid #FFFFFF;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
}

#lineasopra{

    position: absolute;
    width: 358px;
    height: 0.06px;
    left: 1380px;
    top: 1051.09px;
    
    border: 3px solid #FFFFFF;
    transform: rotate(-180deg);

}

#lineasopra2{

    position: absolute;
    width: 198px;
    height: 0.62px;
    left: 1450px;
    top: 1020.7px;
    
    border: 3px solid #FFFFFF;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
}

#vettore2{

    position: absolute;
    width: 1753px;
    height: 0px;
    left: 45px;
    top: 1966px;
    
    border: 1px solid #FFFFFF;

    
}






.rettangolo3{

position: absolute;
width: 475px;
height: 282px;
left: 58px;
top: 2300px;
z-index: -1;

background: linear-gradient(260.43deg, #D9D9D9 -3.7%, rgba(217, 217, 217, 0.206298) 93.91%, rgba(217, 217, 217, 0) 127.34%);
border-radius: 73px;
}

.dise{
    position: absolute;
width: 257px;
height: 135px;
left: 78px;
top: 2375px;

font-family: 'Libre Baskerville';
font-style: normal;
font-weight: 700;
font-size: 109px;
line-height: 135px;
display: flex;
letter-spacing: 0.50em;

color: #000000;
}

.rettangolo4{
    position: absolute;
width: 385px;
height: 292px;
left: 535px;
top: 2370px;
z-index: -1;
background: linear-gradient(279.2deg, rgba(217, 217, 217, 0.206298) -7.89%, #D9D9D9 106.9%, rgba(217, 217, 217, 0) 113.56%);
border-radius: 73px;
}

.gni{
    position: absolute;
width: 271px;
height: 135px;
left: 575px;
top: 2445px;



font-family: 'Libre Baskerville';
font-style: normal;
font-weight: 700;
font-size: 109px;
line-height: 135px;
display: flex;
letter-spacing: 0.50em;



color: #000000;
}

#s3{

    position: absolute;
width: 759.34px;
height: 10px;
left: 69px;
top: 2150px;

background: #FFFFFF;
mix-blend-mode: lighten;
opacity: 0.7;
filter: blur(0.5px);
border-radius: 6px;

}

#s4{

    position: absolute;
    width: 569px;
    height: 458px;
    left: 650px;
    top: 2301px;
    
    background: rgba(255, 255, 255, 0.62);
    mix-blend-mode: screen;
    filter: blur(207px);
    transform: matrix(1, 0, 0, -1, 0, 0);
}




#sf4{

position: absolute;
width: 695.94px;
height: 700.18px;
left: 1089.8px;
top: 2096.11px;

background: linear-gradient(179.13deg, rgba(255, 255, 255, 0) 0.75%, rgba(255, 255, 255, 0.55) 33.58%, rgba(255, 255, 255, 0.24) 66.42%, rgba(0, 0, 0, 0) 99.26%);
transform: matrix(1, -0.01, -0.01, -1, 0, 0);

}

#lineasotto3{

    position: absolute;
    width: 558px;
    height: 0.06px;
    left: 1150px;
    top: 2831.09px;
    
    border: 3px solid #FFFFFF;
    transform: rotate(-180deg);

}

#lineasotto4{

    position: absolute;
    width: 358px;
    height: 0.62px;
    left: 1250px;
    top: 2862.09px;
    
    border: 3px solid #FFFFFF;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
}

#lineasopra3{

    position: absolute;
    width: 558px;
    height: 0.06px;
    left: 1150px;
    top: 2051.09px;
    
    border: 3px solid #FFFFFF;
    transform: rotate(-180deg);

}

#lineasopra4{

    position: absolute;
    width: 358px;
    height: 0.62px;
    left: 1250px;
    top: 2020.7px;
    
    border: 3px solid #FFFFFF;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
}










body 
{
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

