body{
    color:rgb(255, 255, 255);
    background: black;
    text-align:center;
    font-size: x-large;
    font-family:'Yeseva One';
}
h1{
  position: absolute;
  left: 38%;
  top: 0%;
  bottom: 90%;
  
  font-family: 'Mplus 1p';
  font-style: 'bolt';
  font-weight: 500;
  font-size: 80px;
  line-height: 148px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
    

}
.h2
{
    color: aliceblue;

    position: absolute;
    width: 533px;
    height: 50px;
    left: 65px;
    top: 600px;


    
    font-size: 22px;
}

textarea:focus
input:focus{outline: none;}


#login{
  box-sizing: border-box;

position: absolute;
width: 667.34px;
height: 673.81px;
left: 650px;
top: 195px;

border: 2px solid #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 53px;
transform: rotate(0deg);

  }


.oppure
{
  
  position: absolute;
    width: 533px;
    height: 50px;
    left: 65px;
    top: 300px;
}
#gradiente{
position: absolute;
width: 798px;
height: 202px;
left: 565px;
top: 450px;

background: #FFFFFF;
mix-blend-mode: screen;
filter: blur(230px);
}
#gradiente2
{
  position: absolute;
width: 1900px;
height: 3.4px;
left: 7px;
top: 110.1px;

background: #FFFFFF;
mix-blend-mode: lighten;
opacity: 0.7;
filter: blur(0.5px);
border-radius: 6px;
}

#gradiente3
{
  position: absolute;
width: 1900px;
height: 6.8px;
left: 7px;
top: 110.1px;

filter: blur(10px);
border-radius: 4px;

background: linear-gradient(90deg, #e5e4e9 8.33%, #f9f9f9 83.37%);
mix-blend-mode: normal;
}

.google {
  box-sizing: border-box;

  position: absolute;
  width: 406px;
  height: 50px;
  left: 145px;
  top: 400px;
  z-index: -1;
  
 
  border: 31px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 53px;
    
  }
  
  .accedigoogle {
    position: absolute;
    width: 302px;
    height: 25px;
    left: 250px;
    top: 420px;
    
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: rgba(0, 0, 0, 0.68);

  }
  .apple{
    box-sizing: border-box;

  position: absolute;
  width: 406px;
  height: 50px;
  left: 145px;
  top: 480px;
  z-index: -1;
  
 
  border: 31px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 53px;

  }
  .accediapple {
    position: absolute;
    width: 302px;
    height: 25px;
    left: 250px;
    top: 500px;
    
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: rgba(0, 0, 0, 0.68);

  }
  .username1{
    box-sizing: border-box;
    position: absolute;
    width: 406px;
    height: 50px;
    left: 145px;
    top: 100px;
    z-index: -1;
    border: 31px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 53px;
  }

  .name_input[type="text"] {
    position:absolute;
    left:185px;
     top:110px;
      width: 300px;
       height: 40px;
        background: transparent;
         border: none; 
         color: #232222;
         font-size: 30px;
  }
  .password1{
    box-sizing: border-box;
    position: absolute;
    width: 406px;
    height: 50px;
    left: 145px;
    top: 175px;
    z-index: -1;
    border: 31px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 53px;
  }
  .password_input[type="password"] {
    position:absolute;
    left:185px;
     top:185px;
      width: 300px;
       height: 40px;
        background: transparent;
         border: none; 
         color: #232222;
         font-size: 30px;
  }
  #pwd{
    position:absolute;
    left:185px;
     top:185px;
      width: 300px;
       height: 40px;
        background: transparent;
         border: none; 
         color: #232222;
         font-size: 30px;

}
.linea{
  position: absolute;
width: 160px;
height: 0px;
left: 65px;
top: 315px;

border: 1px solid #FFFFFF;

}
.linea2{
  position: absolute;
width: 160px;
height: 0px;
left: 445px;
top: 315px;

border: 1px solid #FFFFFF;

}


#nome{
    font-size: 30px;
}

body 
{
    overflow-x: hidden; /* Hide horizontal scrollbar */
}