
#gradiente
{
position: absolute;
width: 798px;
height: 452px;
left: 565px;
top: 50%;

background: #FFFFFF;
mix-blend-mode: screen;
filter: blur(360px);
} 

#gradiente1
{
  position: absolute;
width: 1910px;
height: 6.8px;
left: 2px;
top: 108.6px;

opacity: 1;

background: rgba(255, 255, 255, 0.03);
border-radius: 6px;
}

#gradiente2
{
  position: absolute;
width: 1900px;
height: 3.4px;
left: 7px;
top: 110.1px;

background: #FFFFFF;
mix-blend-mode: lighten;
opacity: 0.7;
filter: blur(0.5px);
border-radius: 6px;
}

#gradiente3
{
  position: absolute;
width: 1900px;
height: 6.8px;
left: 7px;
top: 110.1px;

filter: blur(10px);
border-radius: 4px;

background: linear-gradient(90deg, #e5e4e9 8.33%, #f9f9f9 83.37%);
mix-blend-mode: normal;
}

#gradiente4
{
position: absolute;
width: 798px;
height: 452px;
left: 565px;
top: 50%;

background: #FFFFFF;
mix-blend-mode: screen;
filter:opacity(300px)
} h6
{

    position: absolute;
    width: 259px;
    height: 135px;
    left: 845px;
    top: 475px;
    
    font-family: 'Mplus 1p';
    font-style: medium;
    font-weight: 500;
    font-size: 109px;
    line-height: 162px;
    display: flex;
    align-items: center;
    
    
    
    background: linear-gradient(0deg, rgba(47, 23, 185, 0) 0%, #bababa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    


}
h1{
    position: absolute;
    left: 41.5%;
    top: 0%;
    bottom: 90%;
    
    font-family: 'Mplus 1p';
    font-style: 'bolt';
    font-weight: 500;
    font-size: 70px;
    line-height: 148px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
      
  
  }
  h2{
    position: absolute;
    left: 15%;
    top: 35%;
    bottom: 90%;
    
    font-family: 'Mplus 1p';
    font-style: 'bolt';
    font-weight: 500;
    font-size: 90px;
    line-height: 158px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
      
  
  }

  h3{
    position: absolute;
    left: 10%;
    top: 48%;
    font-family: 'Mplus 1p';
    font-style: 'bolt';
    font-weight: 500;
    font-size: 35px;
    display: flex;
    
    
    color: #FFFFFF;
      
  
  }

  h4{
    position: absolute;
    left: 65%;
    top: 30%;
    bottom: 90%;
    
    font-family: 'Mplus 1p';
    font-style: 'bolt';
    font-weight: 500;
    font-size: 90px;
    line-height: 158px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
      
  
  }

  h5{
    position: absolute;
    left: 65.5%;
    top: 48.9%;
    font-family: 'Mplus 1p';
    font-style: 'bolt';
    font-weight: 500;
    font-size: 35px;
    display: flex;
    
    
    color: #FFFFFF;
      
  
  }
  #registrazione{
    box-sizing: border-box;
  
  position: absolute;
  width: 1750px;
  height: 673.81px;
  left: 60px;
  top: 195px;
  
  border: 2px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 53px;
  transform: rotate(0deg);
  
    }

    body 
{
    overflow-x: hidden; /* Hide horizontal scrollbar */
}



